<template>
  <div class="about">
    <h1>Visualize Me</h1>
    <div class="form">
      <input class="input-file" type="file" accept=".xls, .xlsx" @change="parseFile" />
      <input
        class="input-text" type="text"
        placeholder="Your name here" v-model="name"/>
      <input
        class="input-text" type="text"
        placeholder="Your LinkedIn photo url here" v-model="photoUrl"/>
      <button
        class="form-button"
        :disabled="disabled" @click="createDataVisualization">Show Me The Data</button>
    </div>
    <VisualizeMe v-if="clicked"
      :data="formattedData"
      :name="name"
      :key="clicked"
      :photo="photo" />
  </div>
</template>
<script>
import readXlsxFile from 'read-excel-file';
import VisualizeMe from '../components/VisualizeMe.vue';

export default {
  name: 'About',
  components: {
    VisualizeMe,
  },
  data() {
    return {
      data: [],
      name: '',
      clicked: 0,
      formattedData: {},
      photoUrl: '',
      photo: '',
    };
  },
  computed: {
    disabled() {
      return !!(this.data.length === 0
      || this.name.trim().length === 0
      || this.photoUrl.trim().length === 0
      );
    },
  },
  methods: {
    parseFile(e) {
      if (!e.target.files.length) {
        this.clicked = 0;
        this.data = [];
        return;
      }
      readXlsxFile(e.target.files[0]).then((rows) => {
        rows.shift();

        let groupName = '';
        this.data = rows.map((r) => {
          if (r[0]) groupName = r[0]; //eslint-disable-line
          return {
            name: r[1],
            twoYearExp: this.createBool(r[2]),
            mastery: r[3],
            optIn: this.createBool(r[4]),
            value: this.createValue(r[3]),
            group: groupName,
          };
        });
      });
    },
    async createDataVisualization() {
      await this.fetchPhoto(this.photoUrl);

      if (this.data[0].group !== 'Person') {
        this.data.unshift({
          name: this.name,
          value: 600,
          group: 'Person',
          photo: this.photo,
        });
      } else {
        this.data[0].name = this.name;
        this.data[0].photo = this.photo;
      }

      const children = this.filterChildren(this.data);
      this.formattedData = {
        name: this.name,
        children,
      };
      this.clicked += 1;
    },
    filterChildren(data) {
      return data.filter(d => d.value > 0);
    },
    async fetchPhoto(photoUrl) {
      const response = await fetch(photoUrl);
      const blobResponse = await response.blob();
      const blobUrl = await this.blobToDataURL(blobResponse);
      this.photo = blobUrl;
    },
    createValue(mastery) {
      if (mastery && mastery.toLowerCase() === 'novice') {
        return 75;
      } if (mastery && mastery.toLowerCase() === 'proficient') {
        return 150;
      } if (mastery && mastery.toLowerCase() === 'advanced') {
        return 300;
      } if (mastery && mastery.toLowerCase() === 'expert') {
        return 600;
      }
      return 0;
    },
    createBool(word) {
      if (word && word.toLowerCase() === 'yes') return true;
      return false;
    },
    async blobToDataURL(blob) {
      const reader = new FileReader();

      return new Promise((resolve) => {
        reader.onload = (e) => {
          resolve(e.target.result);
        };

        reader.readAsDataURL(blob);
      });
    },
  },
};
</script>
<style scoped>

.form {
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
}

input {
  height: 20px;
  width: 200px;
}

.form-button {
  border-radius: 5px;
  background-color: #0c62fb;
  color: white;
  padding: 5px 10px;
}

.form-button:disabled{
  background-color: lightgray;
}

.input-text {
  border-radius: 5px;
  border-width: 0.5px;
  border-style: solid;
  border-color: lightgray;
  padding-left: 5px;
}

.input-file {
  padding: 1px;
}
</style>
