<template>
  <div class="visualizer-container">
    <div id="viz" class="visual">
      <svg class="visual-svg">
        <g class="key-bubble-pack">
          <foreignObject x="0" y="0" width="400" :height="height" class="left-column">
            <body xmlns="http://www.w3.org/1999/xhtml" class="left-column-body">
              <div class="name">{{name}}</div>
              <div class="key">
                <div class="key-item">
                  <span class="roles-icon">
                    <svgicon
                      name="brightness_1-24px"
                      width="40"
                      height="40"
                      color="#0c62fb">
                    </svgicon>
                  </span>
                  <span class="key-value">  Functional/Technical Roles</span></div>
                <div class="key-item">
                  <span class="roles-icon">
                    <svgicon
                      name="brightness_1-24px"
                      width="40"
                      height="40"
                      color="#292929">
                    </svgicon>
                  </span>
                  <span class="key-value">  Business Roles</span></div>
                  <div class="key-item">
                  <span class="roles-icon">
                    <svgicon
                      name="brightness_1-24px"
                      width="40"
                      height="40"
                      color="#8C8C8C">
                    </svgicon>
                  </span>
                  <span class="key-value">  Pursuit & Engagement Roles</span></div>
                <div class="key-item">
                  <span class="passions-icon">
                    <svgicon name="trip_origin-24px"
                      width="40"
                      height="40"
                      color="#c2d5ff">
                    </svgicon>
                  </span>
                  <span class="key-value">  Passions</span></div>
              </div>
            </body>
          </foreignObject>
          <g class="bubble-pack"></g>
        </g>
      </svg>
    </div>
    <button class="save-button" @click="saveVisual">Save Profile</button>
  </div>

</template>

<script>
import * as d3 from 'd3';
import { downloadPng } from 'svg-crowbar';
import './icons/brightness_1-24px';
import './icons/trip_origin-24px';

export default {
  name: 'VisualizeMe',
  props: {
    data: Object,
    name: String,
    photo: String,
  },
  data() {
    return {
      width: 1400,
      height: 1000,
    };
  },
  mounted() {
    this.createVis();
  },
  methods: {
    createVis() {
      const color = d3.scaleOrdinal().domain([
        'Business Roles',
        'Functional Roles',
        'Technical Roles',
        'Pursuit & Engagement Roles',
        'Person',
      ])
        .range(['#292929', '#0c62fb', '#0c62fb', '#8C8C8C', 'grey']);

      const root = d3.hierarchy(this.data).sum(d => d.value);
      const pack = d3.pack().size([this.width - 400, this.height]).padding(35);

      const svg = d3.select('.visual-svg').attr('viewBox', [0, 0, this.width, this.height])
        .attr('text-anchor', 'middle');

      pack(root);

      const leaf = svg.selectAll('.key-bubble-pack g.bubble-pack').selectAll('.bubble-pack').data(root.leaves())
        .enter()
        .insert('g')
        .attr('transform', d => `translate(${d.x + 400},${d.y})`)
        .attr('class', 'leaf');

      const tooltip = d3.select('.visual').insert('div', '.visual-svg')
        .attr('class', 'tooltip')
        .style('position', 'absolute')
        .style('visibility', 'hidden');

      leaf.append('circle')
        .attr('r', d => d.r)
        .attr('fill', d => (d.data.group !== 'Person' ? color(d.data.group) : 'url(#personImage)'))
        .attr('class', 'role')
        .attr('stroke-width', d => this.calculateStrokeWidth(d))
        .attr('stroke', '#c2d5ff')
        .on('mouseover', (d) => {
          if (d.data.mastery) tooltip.text(d.data.mastery);
          return d.data.mastery ? tooltip.style('visibility', 'visible') : tooltip.style('visibility', 'hidden');
        })
        .on('mousemove', () => tooltip.style('top', `${d3.event.pageY - 10}px`).style('left', `${d3.event.pageX + 10}px`))
        .on('mouseout', () => {
          if (d3.event.toElement && d3.event.toElement.localName === 'text') return;
          tooltip.style('visibility', 'hidden');
        });

      leaf.append('text')
        .attr('class', 'role-text')
        .style('font-size', d => this.calculateFontSize(d))
        .attr('fill', 'white')
        .on('mouseover', (d) => {
          if (d.data.mastery) tooltip.text(d.data.mastery);
          return d.data.mastery ? tooltip.style('visibility', 'visible') : tooltip.style('visibility', 'hidden');
        })
        .on('mousemove', () => tooltip.style('top', `${d3.event.pageY - 10}px`).style('left', `${d3.event.pageX + 10}px`))
        .on('mouseout', () => {
          if (d3.event.toElement && d3.event.toElement.localName === 'circle') return;
          tooltip.style('visibility', 'hidden');
        })
        .selectAll('tspan')
        .data(d => this.parseLeafName(d))
        .join('tspan')
        .attr('x', 0)
        .attr('y', (d, i, nodes) => `${i - nodes.length / 2 + 0.8}em`)
        .text(d => d);


      leaf.append('defs').insert('pattern').attr('id', 'personImage').attr('x', d => `-${d.r}`)
        .attr('y', d => `-${d.r}`)
        .attr('width', '100%')
        .attr('height', '100%')
        .attr('patternUnits', 'userSpaceOnUse')
        .insert('image')
        .attr('x', '0')
        .attr('y', '0')
        .attr('height', d => d.r * 2)
        .attr('width', d => d.r * 2)
        .attr('xlink:href', this.photo);

      d3.select('.key-bubble-pack').append('rect')
        .attr('width', '100%')
        .attr('height', '100%')
        .attr('fill', 'white')
        .attr('class', 'background')
        .lower();
    },
    saveVisual() {
      const fileName = this.parseFileName(this.name);
      const svg = d3.select('.visual-svg').node();
      downloadPng(svg, fileName);
    },
    parseFileName(name) {
      return name.split(' ').join('_');
    },
    calculateFontSize(d) {
      return d.r < 30 ? '10px' : '12px';
    },
    calculateStrokeWidth(d) {
      return d.data.optIn ? 20 : 0;
    },
    parseLeafName(d) {
      return d.data.group === 'Person' ? '' : d.data.name.split(' ');
    },
  },
};
</script>

<style>

.visual-svg {
  background-color: 'white';
}

.left-column-body {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;
  height: 100%;
  padding-left: 20px;
}

 .left-column .name {
  color: 'black';
  font-size: 40px;
  font-weight: bold;
}

.key-value {
  font-size: 22px;
  font-weight: bold;
  color: #6b6b6b;
}

.key-item {
  margin-bottom: 10px;
}

.role {
  paint-order: stroke;
}

.role-text{
  font-family: 'Arial Narrow',Arial,sans-serif;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tooltip {
  font-family: 'Arial Narrow',Arial,sans-serif;
  font-size: 12px;
  background: white;
  padding: 10px;
  border-radius: 4px;
  color: #3b3b3b;
  border: 1px solid #767676;
}

.key-bubble-pack {
  display: flex;
  flex-direction: row;
}

.save-button {
  border-radius: 5px;
  background-color: #0c62fb;
  color: white;
  padding: 10px 10px;
  font-size: 15px;
  font-weight: bold;
}
</style>
